<footer class="ftco-footer ftco-bg-dark ftco-section py-8" style="background-color: #002749; color:white;">
    <div class="container">
        <div class="row mb-5 py-2">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Contacto</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Quito - Ecuador</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+593
                                        22074546</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span
                                        class="text">beautycosmetics@hotmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="home"><span class="ion-ios-arrow-round-forward mr-2"></span>Inicio</a>
                        </li>
                        <li><a routerLink="aboutus"><span class="ion-ios-arrow-round-forward mr-2"></span>Nosotros</a>
                        </li>
                        <li><a routerLink="services"><span class="ion-ios-arrow-round-forward mr-2"></span>Servicios</a>
                        </li>
                        <li><a routerLink="contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <p> Beauty Cosmetics | Todos los derechos reservados |
                    Dennise Sandoval<br>
                    Copyright © 2020
                </p>
            </div>
        </div>
    </div>
</footer>