<div class="site-section" id="features-section">
    <div class="container">
        <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
            <div class="col-7 text-center  mb-5">
                <h2 class="section-title">Nuestros Servicios</h2>
                <p class="lead">Somos Importadores y Fabricantes de las líneas de maquillaje, cuidado personal,
                    peluquería y accesorios de belleza.</p>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

                <div class="unit-4 d-block">
                    <div>
                        <img src="../../assets/images/service1.jpg" alt="Image" class="img-fluid">
                        <h3>MakeUp</h3>
                        <p>El maquillaje con activos naturales que tu piel necesita. Consigue un rostro luminoso y
                            saludable a base de nutrientes, vitaminas y antioxidantes..</p>
                        <p><a routerLink="services">Leer más</a></p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

                <div class="unit-4 d-block">
                    <div>
                        <img src="../../assets/images/service2.jpg" alt="Image" class="img-fluid">
                        <h3>Productos Naturales</h3>
                        <p>Lo mejor para tu piel: Más del 99% de ingredientes naturales de alta calidad. Veganos y
                            sostenibles..</p>
                        <p><a routerLink="services">Leer más</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="unit-4 d-block">
                    <div class="unit-4-icon mb-3">
                        <img src="../../assets/images/service3.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div>
                        <h3>Peluquería</h3>
                        <p>Es un salón de belleza y spa profesional situado en el norte de Quito con especialistas muy
                            entrenadas y profesionales..</p>
                        <p><a routerLink="services">Leer más</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>