<div class="site-section" id="contact-section" style=" background-color:#F6FEFF">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 mb-5"><br>
                <div class="row mb-2">
                    <div class="col-12 text-center">
                        <h4 class="section-title mb-3 text-black">Contáctanos</h4>
                    </div>
                </div>
                <form action="#" class="p-5 bg-white border">
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Nombre</label>
                            <input type="text" id="fname" class="form-control rounded-0">
                        </div>
                        <div class="col-md-6">
                            <label class="text-black" for="lname">Apellido</label>
                            <input type="text" id="lname" class="form-control rounded-0">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="email">Email</label>
                            <input type="email" id="email" class="form-control rounded-0">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="subject">Pregunta</label>
                            <input type="subject" id="subject" class="form-control rounded-0">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">Mensaje</label>
                            <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded-0"
                                placeholder="Escribe tu mensaje aquí"></textarea>
                        </div>
                    </div>
                    <div class="form-group row" style="justify-content: center;">
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <input class="btn btn-primary btn-user btn-block" name="agregar" type="submit"
                                value="Enviar">
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>