<div class="site-section" id="about-section">
    <div class="container"><br>
        <div class="row mb-6">
            <div class="col-12 text-center">
                <h4 class="section-title text-black mb-4 h3 font-weight-bold">Conócenos</h4>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-8" data-aos="fade-right">
                <img src="../../assets/images/fondo.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 ml-auto pl-sm-2"><br>
                <h2 class="text-black mb-4 h3 font-weight-bold">Beauty Cosmetics</h2>
                <p class="mb-4">Somos Importadores y Fabricantes de las líneas de maquillaje, cuidado personal,
                    peluquería y accesorios de belleza.es una Tienda Online de Venta directa de productos cosméticos,
                    maquillaje, ropa y moda en general con servicio de entrega a domicilio a todo el Ecuador</p>
                <ul class="ul-check mb-5 list-unstyled success">
                    <li>Ecuador</li>
                    <li>Quito</li>
                    <li>Av. 6 de diciembre y Eloy Alfaro</li>
                </ul>
                <p><a routerLink="aboutus" class="btn btn-primary">Leer más</a></p>
            </div>
        </div>


    </div>
</div>